<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>应用名称API登录</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<section class="container">
    <div class="login">
        <h1>应用名称API登录</h1>
        <form name="f" th:action="@{/login}" method="post">
            <p><input type="text" name="username" value="" placeholder="用户名"/></p>
            <span th:if="${param.error}" class="errorspan">错误的用户名或密码</span>
            <p><input type="password" name="password" value="" placeholder="密码"/></p>
            <span th:if="${param.logout}" class="errorspan">您已经注销</span>
            <p class="submit"><input type="submit" name="commit" value="登录"/></p>
        </form>
    </div>
</section>
</body>
</html>